<link rel="import" href="../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../neon-slideshow/custom/neon-slideshow-scrollable-overlay.html">
<link rel="import" href="../neon-slideshow/neon-slideshow-pages.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../polymer/polymer.html">

<dom-module id="album-structure">
  <template>
    <style>
      :host {
        display: block;
        @apply(--paper-font-common-base);
      }
      .content-child-margin::content > * {
        margin: 2px;
      }
      paper-icon-button {
        width: 60px;
        height: 60px;
        margin: 0 20px;
      }
      paper-tabs {
        width: 300px;
        --paper-tabs-selection-bar-color: var(--default-primary-color);
        margin-bottom: 30px;
      }
      neon-slideshow-scrollable-overlay {
        @apply(--layout-fit);
      }
      #videoDialog {
        width: 650px;
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
      }
      #fullVideo {
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
    </style>
    <div class="layout vertical">
      <div class="layout horizontal">
        <paper-icon-button 
          id="back-button"
          icon="arrow-back"
          class="self-center"
          on-tap="closeAlbum">
        </paper-icon-button>
        <h1>Album <span>[[album.name]]</span></h1>
      </div>
      <paper-tabs id="paperTabs" noink selected="{{selectedMedia}}">
        <paper-tab>[[photosNumber]] Photos</paper-tab>
        <paper-tab>[[videosNumber]] Videos</paper-tab>
      </paper-tabs>
      <neon-slideshow-pages selected="{{selectedMedia}}">
        <div>
          <div class="layout horizontal wrap content-child-margin" on-open-full-media="_openPhotoSlideshow">
            <content id="distributedPhotos" select=".photo"></content>
          </div>
        </div>
        <div>
          <div class="layout horizontal wrap content-child-margin" on-open-full-media="_openVideo">
            <content id="distributedVideos" select=".video"></content>
          </div>
        </div>
      </neon-slideshow-pages>
    </div>
    <neon-slideshow-scrollable-overlay
      id="photoSlideshowOverlay"
      with-backdrop
      center-slide-on-tap
      center-slide-on-track-end>
      <!-- Need a horizontal iron-list -->
      <template is="dom-repeat" items="[[album.photos]]">
        <img draggable="false" src="[[_computeMediaFullSrc(item.full_name)]]">
      </template>
    </neon-slideshow-scrollable-overlay>
    <paper-dialog id="videoDialog" with-backdrop
      on-iron-overlay-closed="_closeVideoDialog"
      entry-animation="fade-in-animation"
      exit-animation="fade-out-animation">
      <video id="fullVideo" controls></video>
    </paper-dialog>

  </template>
  <script>
    Polymer({
      is: 'album-structure',
      properties: {
        album: {
          type: Object,
          value: function() {
            return {};
          }
        },
        imgRoot: {
          type: String,
          value: ''
        },
        photosNumber: {
          type: Number,
          computed: '_countMedia(album.photos.*)'
        },
        selectedMedia: Number,
        videosNumber: {
          type: Number,
          computed: '_countMedia(album.videos.*)'
        }
      },
      closeAlbum: function() {
        this.fire('close-album');
      },
      update: function() {
        this.$.paperTabs.notifyResize();
      },
      _closeVideoDialog: function() {
        this.$.fullVideo.setAttribute('src', '');
      },
      _countMedia: function(media) {
        return media.base ? media.base.length : 0;
      },
      _computeMediaFullSrc: function(name) {
        return this.imgRoot + '/' + this.album.name + '/'
             + this.fullDirectoryName + '/' + name;
      },
      _openPhotoSlideshow: function(e) {
        this.$.photoSlideshowOverlay.selected = e.detail;
        this.$.photoSlideshowOverlay.open();
      },
      _openVideo: function(e) {
        this.$.videoDialog.open();
        this.$.fullVideo.setAttribute('src', this._computeMediaFullSrc(this.album.videos[e.detail].full_name));
      },
    });
  </script>
</dom-module>