<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-image/iron-image.html">
<link rel="import" href="../paper-styles/shadow.html">
<link rel="import" href="../paper-styles/typography.html">
<link rel="import" href="../polymer/polymer.html">

<dom-module id="album-card-shared-styles">
  <template>
    <style>
      :host {
        display: block;
        @apply(--layout-vertical);
        @apply(--shadow-elevation-2dp);
        width: var(--iron-albums-card-width, 250px);
        height: var(--iron-albums-card-height, 300px);
        border-radius: 2px;
      }
      iron-image {
        width: var(--iron-albums-card-image-width, 250px);
        height: var(--iron-albums-card-image-height, 250px);
        cursor: pointer;
      }
      #text {
        padding: 16px;
        padding-top: 24px;
        @apply(--paper-font-common-base);
      }
      #title {
        @apply(--paper-font-title);
      }
      #subhead {
        @apply(--paper-font-subhead);
        color: var(--secondary-text-color);
      }
    </style>
  </template>
</dom-module>