<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="back/back-album-card.html">
<link rel="import" href="back/back-album.html">
<link rel="import" href="back/back-albums-catalog.html">
<link rel="import" href="front/front-album-card.html">
<link rel="import" href="front/front-album.html">
<link rel="import" href="front/front-albums-catalog.html">
