<link rel="import" href="../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../neon-slideshow/neon-slideshow-pages.html">
<link rel="import" href="../polymer/polymer.html">

<dom-module id="catalog-structure">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <array-selector 
      id="albumSelector" 
      items="{{albums}}" 
      selected="{{selectedAlbum}}">
    </array-selector>
    <neon-slideshow-pages selected="[[state]]">
      <content select=".album-cards"></content>
      <content select=".album"></content>
    </neon-slideshow-pages>
  </template>
  <script>
    Polymer({
      is: 'catalog-structure',
      properties: {
        albums: {
          type: Array,
          value: function () {
            return [];
          }
        },
        selectedAlbum: {
          type: Object,
          value: function() {
            return {};
          },
          notify: true
        },
        state: {
          type: Number,
          value: 0
        }
      },
      listeners: {
        'close-album': 'closeAlbum',
        'open-album': 'openAlbum'
      },
      closeAlbum: function() {
        this.state = 0;
      },
      openAlbum: function() {
        this.state = 1;
      },
      select: function(album) {
        this.$.albumSelector.select(album);
      }
    });
  </script>
</dom-module>