<link rel="import" href="../../iron-ajax-rest/iron-ajax-rest.html">
<link rel="import" href="../../iron-ajax/iron-ajax.html">
<link rel="import" href="../../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../paper-styles/typography.html">
<link rel="import" href="../../paper-toast/paper-toast.html">
<link rel="import" href="back-albums-catalog.html">

<dom-module id="back-albums-catalog-remote">
  <template>
    <style>
      :host {
        display: block;
        @apply(--paper-font-common-base);
      }
      back-album-catalog {
        @apply(--layout-fit);
      }
      paper-toast {
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }
      paper-toast > paper-spinner-lite {
        margin-right: 20px;
      }
    </style>

    <back-albums-catalog
      albums="[[albums]]"
      img-root="[[imgRoot]]"
      on-delete-album="_deleteAlbumRemote"
      on-rename-album="_renameAlbumRemote"
      on-new-album="_newAlbumRemote"
      on-new-photos="_newPhotos"
      on-new-video="_newVideo"
      on-delete-photo="_deletePhotoRemote"
      on-delete-video="_deleteVideoRemote"
      preview-directory-name="[[previewDirectoryName]]"
      full-directory-name="[[fullDirectoryName]]">
    </back-albums-catalog>

    <iron-ajax
      id="photosSender"
      method="POST"
      url="[[requestsRoot]]/photo"
      handle-as="json"
      on-response="_addPhotoAction"
      on-error="_openErrorToast">
    </iron-ajax>

    <iron-ajax
      id="videoSender"
      method="POST"
      url="[[requestsRoot]]/video"
      handle-as="json"
      on-response="_addVideoAction"
      on-error="_openErrorToast">
    </iron-ajax>

    <iron-ajax
      id="newAlbumSender"
      method="POST"
      url="[[requestsRoot]]/album"
      handle-as="json"
      on-error="_openErrorToast"
      on-response="_addAlbumAction">
    </iron-ajax>

    <iron-ajax
      id="deleteAlbumSender"
      method="DELETE"
      url="[[requestsRoot]]/album/[[id]]"
      handle-as="json"
      on-error="_openErrorToast"
      on-response="_deleteAlbumAction">
    </iron-ajax>

    <iron-ajax
      id="renameAlbumSender"
      method="PUT"
      url="[[requestsRoot]]/album/[[id]]"
      handle-as="json"
      on-error="_openErrorToast"
      on-response="_renameAlbumAction">
    </iron-ajax>

    <iron-ajax
      id="deletePhotoSender"
      method="DELETE"
      url="[[requestsRoot]]/photo/[[id]]"
      handle-as="json"
      on-error="_openErrorToast"
      on-response="_deletePhotoAction">
    </iron-ajax>

    <iron-ajax
      id="deleteVideoSender"
      method="DELETE"
      url="[[requestsRoot]]/video/[[id]]"
      handle-as="json"
      on-error="_openErrorToast"
      on-response="_deleteVideoAction">
    </iron-ajax>

    <paper-toast id="waitingToast" duration="0">
      <paper-spinner-lite active="spinnerActive"></paper-spinner-lite>
      <span>[[toastText]]</span>
    </paper-toast>

    <paper-toast id="errorToast" text="Une erreur est survenu, veuillez reessayer." duration="5000">
    </paper-toast>

    <paper-toast id="responseToast" text="[[responseMessage]]" duration="5000">
    </paper-toast>

  </template>
  <script>
    Polymer({
      is: 'back-albums-catalog-remote',
      properties: {
        albums: {
          type: Array,
          value: function() {
            return [];
          }
        },
        id: Number,
        imgRoot: {
          type: String,
          value: ''
        },
        remoteAlbumId: Number,
        requestsRoot: {
          type: String,
          value: ''
        },
        responseMessage: {
          type: String,
          value: ''
        },
        spinnerActive: {
          type: Boolean,
          value: false
        },
        toastText: {
          type: String,
          value: ''
        },
        token: {
          type: String,
          value: ''
        }
      },
      _addAlbumAction: function(e) {
        this.push('albums', {id:e.detail.response.id_album, name: e.detail.response.nom_album, photos: [], videos: []});
        this._displayResponse(e.detail.response.message);
      },
      _addPhotoAction: function(e) {
        for (photo of e.detail.response.photos) {
          this.push('albums.'+e.detail.response.index_album+'.photos', {
            prev_name: photo.name,
            full_name: photo.name,
            id: photo.id
          });
        }
        this._displayResponse(e.detail.response.message);
      },
      _addVideoAction: function(e) {
        this.push('albums.'+e.detail.response.index_album+'.videos', e.detail.response.video);
        this._displayResponse(e.detail.response.message);
      },
      _deleteAlbumAction: function(e) {
        this.splice('albums', e.detail.response.index_album, 1);
        this._displayResponse(e.detail.response.message);
      },
      _deletePhotoAction: function(e) {
        this.splice('albums.'+e.detail.response.index_album+'.photos', e.detail.response.index_photo, 1);
        this._displayResponse(e.detail.response.message);
      },
      _deletePhotoRemote: function(e) {
        this._openProgressToast("Suppression de la photo");
        this.id = e.detail.id;
        this.$.deletePhotoSender.params = {index_album: e.detail.index_album, index_photo: e.detail.index_photo, _token:this.token};
        this.$.deletePhotoSender.generateRequest();
      },
      _deleteVideoAction: function(e) {
        this.splice('albums.'+e.detail.response.index_album+'.videos', e.detail.response.index_video, 1);
        this._displayResponse(e.detail.response.message);
      },
      _deleteVideoRemote: function(e) {
        this._openProgressToast("Suppression de la video");
        this.id = e.detail.id;
        this.$.deleteVideoSender.params = {index_album: e.detail.index_album, index_video: e.detail.index_video, _token:this.token};
        this.$.deleteVideoSender.generateRequest();
      },
      _deleteAlbumRemote: function(e) {
        this._openProgressToast("Suppression de l'album et de son contenu");
        this.id = e.detail.id;
        this.$.deleteAlbumSender.params = {index_album: e.detail.index, _token:this.token};
        this.$.deleteAlbumSender.generateRequest();
      },
      _displayResponse: function(message) {
        this.responseMessage = message;
        this.$.responseToast.open();
      },
      _newAlbumRemote: function() {
        this._openProgressToast("Ajout de l'album");
        this.$.newAlbumSender.params = {name: "Nouvel-album", _token:this.token};
        this.$.newAlbumSender.generateRequest();
      },
      _newPhotos: function(e) {
        if (e.detail.photos.length == 1) {
          this._openProgressToast("Ajout de la photo");
        } else {
          this._openProgressToast("Ajout des photos");
        }
        var formData = new FormData();
        for (var index in e.detail.photos) {
          formData.append('photos[]', e.detail.photos[index]);
        }
        formData.append('id', e.detail.id);
        formData.append('index_album', e.detail.index_album);
        formData.append('_token', this.token);
        this.$.photosSender.body = formData;
        this.$.photosSender.generateRequest();
      },
      _newVideo: function(e) {
        this._openProgressToast("Ajout de la video");
        var formData = new FormData();
        formData.append('video', e.detail.video);
        formData.append('capture', e.detail.capture);
        formData.append('id', e.detail.id);
        formData.append('index_album', e.detail.index_album);
        formData.append('_token', this.token);
        this.$.videoSender.body = formData;
        this.$.videoSender.generateRequest();
      },
      _openErrorToast: function() {
        this.$.errorToast.open();
      },
      _openProgressToast: function(text) {
        this.toastText = text + " en cours…";
        this.spinnerActive = true;
        this.$.waitingToast.open();
      },
      _renameAlbumAction: function(e) {
        this._displayResponse(e.detail.response.message);
      },
      _renameAlbumRemote: function(e) {
        this._openProgressToast("Changement du nom de l'album");
        this.id = e.detail.id;
        this.$.renameAlbumSender.params = {name: e.detail.name, index_album: e.detail.index, _token:this.token};
        this.$.renameAlbumSender.generateRequest();
      },
    });
  </script>
</dom-module>
