<link rel="import" href="../../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../../neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../neon-slideshow/neon-slideshow-pages.html">
<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../paper-input-video-capture-dialog/paper-input-video-capture-dialog.html">
<link rel="import" href="../../paper-styles/shadow.html">
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../albums-catalog-behavior.html">
<link rel="import" href="../catalog-structure.html">
<link rel="import" href="back-album-card.html">
<link rel="import" href="back-album.html">

<!--
@element back-albums-catalog
@demo demo/back-albums-catalog-demo.html
@hero hero.svg
-->
<dom-module id="back-albums-catalog">
  <template>
    <style>
      :host {
        display: block;
      }
      .child-margin > * {
        margin: 10px;
      }
      #newAlbumCard {
        width: 250px;
        height: 300px;
        @apply(--shadow-elevation-2dp);
      }
      #newAlbumCard > paper-icon-button {
        padding: 0;
        height: 250px;
        width: 250px;
        margin-top: 25px;
        cursor: pointer;
        color: var(--paper-grey-300);
      }
    </style>

    <catalog-structure
      id="catalogStructure"
      albums="[[albums]]"
      selected-album="{{selectedAlbum}}">
      <div class="horizontal layout wrap child-margin album-cards">
        <div id="newAlbumCard">
          <paper-icon-button icon="add" on-tap="_newAlbum"></paper-icon-button>
        </div>
        <template id="albumRepeater" is="dom-repeat" items="{{albums}}">
          <back-album-card
            src="{{_computeHeaderPhotoSrc(item.*)}}"
            title="[[item.name]]"
            img-root="[[imgRoot]]"
            photos-number="{{_computeLength(item.photos.*)}}"
            videos-number="{{_computeLength(item.videos.*)}}"
            on-open-album="_selectAlbum"
            on-delete-album-confirm="_openDeleteAlbumConfirm"
            on-select-photos="_choosePhotosFromItem"
            on-select-video="_chooseVideoFromItem"
            on-rename-album="_renameAlbum">
          </back-album-card>
        </template>
      </div>
      <back-album
        class="album"
        album="[[selectedAlbum]]"
        on-select-photos="_choosePhotos"
        on-select-video="_chooseVideo"
        on-delete-photo="_deletePhoto"
        on-delete-video="_deleteVideo"
        img-root="[[imgRoot]]">
      </back-album>
    </catalog-structure>

    <paper-dialog id="confirmDeletion" modal 
      entry-animation="scale-up-animation"
      exit-animation="fade-out-animation">
      <h2>Etes vous sûr de vouloir effacer l'album "[[selectedAlbum.name]]" ?</h2>
      <h3 class="subhead">Les photos et videos associées seront effacées.</h3>
      <div class="buttons">
        <paper-button dialog-dismiss>Annuler</paper-button>
        <paper-button dialog-confirm on-tap="_deleteAlbum">Effacer</paper-button>
      </div>
    </paper-dialog>

    <input hidden id="photosSelector" files='{{importedPhotos::change}}' multiple type="file" accept="image/*">
    
    <paper-input-video-capture-dialog id="videoSelector"
      no-cancel-on-outside-click with-backdrop
      capture-button-text="CAPTURER" cancel-button-text="ANNULER" confirm-button-text="AJOUTER" 
      video-file="{{importedVideo}}" capture-url="{{captureUrl}}" capture-width="250" capture-file="{{captureFile}}"
      on-capture-confirmed="_addVideo">
      <h2>Lancez la video, cliquez sur CAPTURER pour prendre une image représantant la video, puis AJOUTER</h2>
    </paper-input-video-capture-dialog>
  
  </template>
  <script>
    Polymer({
      is: 'back-albums-catalog',
      properties: {
        importedPhotos: {
          type: Object,
          observer: '_importedPhotosChange',
          notify: true
        },
        importedVideo: {
          type: Object,
          notify: true
        }
      },
      _addVideo: function() {
        this.fire('new-video', { index_album: this.selectedAlbumIndex,  id: this.selectedAlbum.id, capture: this.captureFile, video: this.importedVideo } );
      },
      _deleteAlbum: function(e) {
        this.fire('delete-album', {id: this.selectedAlbum.id, index: this.selectedAlbumIndex } );
      },
      _deletePhoto: function(e) {
        e.stopPropagation();
        this.fire('delete-photo', {index_album: this.selectedAlbumIndex, index_photo: e.detail.index, id: e.detail.id});
      },
      _deleteVideo: function(e) {
        e.stopPropagation();
        this.fire('delete-video', {index_album: this.selectedAlbumIndex, index_video: e.detail.index, id: e.detail.id});
      },
      _choosePhotos: function() {
        this.$.photosSelector.dispatchEvent(new Event('click'));
      },
      _choosePhotosFromItem: function(e) {
        this._selectAlbum(e);
        this._choosePhotos();
      },
      _chooseVideo: function() {
        this.$.videoSelector.search();
      },
      _chooseVideoFromItem: function(e) {
        this._selectAlbum(e);
        this._chooseVideo();
      },
      _importedPhotosChange: function(importedPhotos) {
        this.fire('new-photos', { index_album: this.selectedAlbumIndex, id: this.selectedAlbum.id, photos: importedPhotos } );
      },
      _newAlbum: function() {
        this.fire('new-album');
      },
      _openDeleteAlbumConfirm: function(e) {
        this._selectAlbum(e);
        this.$.confirmDeletion.open();
      },
      _renameAlbum: function(e) {
        this._selectAlbum(e);
        e.stopPropagation();
        this.fire('rename-album', { index: this.selectedAlbumIndex, id: this.selectedAlbum.id, name: e.detail});
      },
      behaviors: [
        Zecat.AlbumsCatalogBehavior
      ]
    });
  </script>
</dom-module>