<link rel="import" href="../../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../../iron-image/iron-image.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../paper-input-rename/paper-input-rename.html">
<link rel="import" href="../../paper-item/paper-item.html">
<link rel="import" href="../../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../paper-menu/paper-menu.html">
<link rel="import" href="../../paper-ripple/paper-ripple.html">
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../album-card-shared-styles.html">

<!--
@element back-album-card
@demo demo/back-album-card-demo.html
@hero hero.svg
-->
<dom-module id="back-album-card">
  <template>
    <style include="album-card-shared-styles">
      paper-item {
        cursor: pointer;
        width: 100%;
        --paper-item-selected: {
          background-color: var(--paper-light-cyan-50);
        };
        --paper-item-focused-before: {
          display: none;
        };
        --paper-item-selected-weight: normal;
      }
      paper-input-rename {
        --paper-input-container-input: {
          @apply(--paper-font-title);
          padding-top: 2px;
        };
        --paper-input-container-color: var(--paper-grey-400);
      }
    </style>
    <iron-image src="[[src]]" preload sizing="cover" on-tap="openAlbum">
      <paper-ripple></paper-ripple>
    </iron-image>
    <div class="layout horizontal justified">
      <div id="text" class="layout vertical flex">
        <paper-input-rename id="title" value="[[title]]" event-name="rename-album"></paper-input-rename>
        <div id="subhead">[[photosNumber]] photos, [[videosNumber]] videos</div>
      </div>
      <paper-menu-button
        class="self-center"
        ignore-select>
        <paper-icon-button icon="icons:more-vert" class="dropdown-trigger"></paper-icon-button>
        <paper-menu
          class="dropdown-content"
          on-iron-select="_performAction"
          selected="{{_selectedAction}}"
          attr-for-selected="action">
          <paper-item action="rename">Renommer</paper-item>
          <paper-item action="addPhotos">Ajouter des photos</paper-item>
          <paper-item action="addVideo">Ajouter une video</paper-item>
          <paper-item action="deleteAlbum">Supprimer l'album</paper-item>
        </paper-menu>
      </paper-menu-button>
    </div>
  </template>
  <script>
    Polymer({
      is: 'back-album-card',
      properties: {
        photosNumber : {
          type: Number,
          value: 0
        },
        src: {
          type: String,
          value: ''
        },
        title: {
          type: String,
          value: ''
        },
        videosNumber : {
          type: Number,
          value: 0
        },
        _selectedAction: {
          type: String,
          value: ''
        }
      },
      openAlbum: function() {
        this.fire('open-album');
      },
      _performAction: function() {
        switch (this._selectedAction) {
          case 'rename':
            this.$.title.rename();
            break;
          case 'addPhotos':
            this.fire('select-photos');
            break;
          case 'addVideo':
            this.fire('select-video');
            break;
          case 'deleteAlbum':
            this.fire('delete-album-confirm');
            break;
        }
        this._selectedAction = '';
      }
      
    });
  </script>
</dom-module>