<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../../iron-image/iron-image.html">
<link rel="import" href="../../neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../paper-tile/paper-tile.html">
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../album-behavior.html">
<link rel="import" href="../album-structure.html">

<!--
@element back-album-admin
@demo demo/back-album-admin-demo.html
@hero hero.svg
-->
<dom-module id="back-album">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-dialog {
        --paper-dialog: {
          padding: 0;
        };
      }

      paper-dialog iron-image {
        width: 100%;
        height: 300px;
      }

      paper-dialog paper-dialog-scrollable {
        --paper-dialog-scrollable: {
          padding: 0;
        };
      }
      
      paper-dialog paper-button {
        --paper-button-ink-color: var(--paper-grey-700);
      }

      .new-tile {
        width: 180px;
        height: 180px;
        background: white;
      }

      .new-tile > paper-icon-button{
        padding: 0;
        height: 180px;
        width: 180px;
        cursor: pointer;
        color: var(--paper-grey-300);
      }
      #confirmVideo {
        max-width: 650px;
      }
    </style>
    <album-structure
      id="albumStructure"
      album="[[album]]"
      img-root="[[imgRoot]]"
      preview-directory-name="[[previewDirectoryName]]"
      full-directory-name="[[fullDirectoryName]]">
      <div class="photo new-tile">
        <paper-icon-button icon="add" on-tap="_selectPhotos"></paper-icon-button>
      </div>
      <template is="dom-repeat" items="[[album.photos]]">
        <paper-tile
          class="photo"
          footer-content
          img="[[_computeMediaPreviewSrc(item.prev_name)]]"
          icon="icons:clear"
          on-primary-action="_openFullMedia"
          on-secondary-action="_openPhotoDeletion">
        </paper-tile>
      </template>
      <div class="video new-tile">
        <paper-icon-button icon="add" on-tap="_selectVideo"></paper-icon-button>
      </div>
      <template is="dom-repeat" items="[[album.videos]]">
        <paper-tile
          class="video"
          footer-content
          img="[[_computeMediaPreviewSrc(item.prev_name)]]"
          icon="icons:clear"
          on-primary-action="_openFullMedia"
          on-secondary-action="_openVideoDeletion">
        </paper-tile>
      </template>
    </album-structure>

    <paper-dialog id="confirmPhotoDeletionDialog" 
      modal 
      entry-animation="scale-up-animation"
      exit-animation="fade-out-animation"
      on-iron-overlay-closed="_confirmPhotoDeletionDialogClosed">
      <h2>Etes vous sûr de vouloir effacer la photo "[[selectedMedia.full_name]]" ?</h2>
      <paper-dialog-scrollable>
        <iron-image src="[[_computeMediaFullSrc(selectedMedia.full_name)]]" sizing="cover"></iron-image>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Annuler</paper-button>
        <paper-button dialog-confirm>Effacer</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="confirmVideoDeletionDialog" 
      modal 
      entry-animation="scale-up-animation"
      exit-animation="fade-out-animation"
      on-iron-overlay-closed="_confirmVideoDeletionDialogClosed">
      <h2>Etes vous sûr de vouloir effacer la video "[[selectedMedia.full_name]]" ?</h2>
      <paper-dialog-scrollable>
        <video id="confirmVideo" controls src="[[_computeMediaFullSrc(selectedMedia.full_name)]]" on-loadeddata="_refitConfirmVideoDeletionDialog"></video>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Annuler</paper-button>
        <paper-button dialog-confirm>Effacer</paper-button>
      </div>
    </paper-dialog>
    
  </template>
  <script>
    Polymer({
      is: 'back-album',
      properties: {
        selectedMedia: Object,
        selectedMediaIndex: Number
      },
      _confirmVideoDeletionDialogClosed: function(e) {
        if (e.detail.confirmed) {
          this.$.confirmVideo.setAttribute('src', '');
          this.fire('delete-video', {id: this.selectedMedia.id, index: this.selectedMediaIndex});
        }
      },
      _confirmPhotoDeletionDialogClosed: function(e) {
        if (e.detail.confirmed) {
          this.fire('delete-photo', {id: this.selectedMedia.id, index: this.selectedMediaIndex});
        }
      },
      _openPhotoDeletion: function(e) {
        this._selectMedia(e);
        this.$.confirmPhotoDeletionDialog.open();
      },
      _openVideoDeletion: function(e) {
        this._selectMedia(e);
        this.$.confirmVideoDeletionDialog.open();
      },
      _refitConfirmVideoDeletionDialog: function() {
        this.$.confirmVideoDeletionDialog.refit();
        console.log("prout");
      },
      _selectMedia: function(e) {
        this.selectedMedia = e.model.__data__.item;
        this.selectedMediaIndex = e.model.__data__.index;
      },
      _selectPhotos: function() {
        this.fire('select-photos');
      },
      _selectVideo: function() {
        this.fire('select-video');
      },
      behaviors: [
        Zecat.AlbumBehavior
      ]
    });
  </script>
</dom-module>