<link rel="import" href="../../paper-ripple/paper-ripple.html">
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../album-card-shared-styles.html">

<!--
@element front-album-card
@demo demo/front-album-card-demo.html
@hero hero.svg
-->
<dom-module id="front-album-card">
  <template>
    <style include="album-card-shared-styles">
    </style>
    <iron-image
      src="[[src]]"
      preload
      sizing="cover"
      on-tap="openAlbum">
      <paper-ripple></paper-ripple>
    </iron-image>
    <div id="text">
      <div id="title">[[title]]</div>
      <div id="subhead">[[photosNumber]] photos, [[videosNumber]] videos</div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'front-album-card',
      properties: {
        photosNumber : {
          type: Number,
          value: 0
        },
        src: {
          type: String,
          value: ''
        },
        title : {
          type: String,
          value: 0
        },
        videosNumber : {
          type: Number,
          value: 0
        }
      },
      openAlbum: function() {
        this.fire('open-album');
      }
    });
  </script>
</dom-module>