<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../../iron-image/iron-image.html">
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../album-behavior.html">
<link rel="import" href="../album-structure.html">

<!--
@element front-admin
@demo demo/front-album-demo.html
@hero hero.svg
-->
<dom-module id="front-album">
  <template>
    <style>
      :host {
        display: block;
      }
      iron-image {
        width: 180px;
        height: 180px;
      }
    </style>
    <album-structure
      id="albumStructure"
      album="[[album]]"
      img-root="[[imgRoot]]"
      preview-directory-name="[[previewDirectoryName]]"
      full-directory-name="[[fullDirectoryName]]">
      <template is="dom-repeat" items="[[album.photos]]">
        <iron-image
          class="photo"
          src="[[_computeMediaPreviewSrc(item.prev_name)]]"
          sizing="cover"
          on-tap="_openFullMedia">
        </iron-image>
      </template>
      <template is="dom-repeat" items="[[album.videos]]">
        <iron-image
          class="video"
          src="[[_computeMediaPreviewSrc(item.prev_name)]]"
          sizing="cover"
          on-tap="_openFullMedia">
        </iron-image>
      </template>
    </album-structure>

  </template>
  <script>
    Polymer({
      is: 'front-album',
      behaviors: [
        Zecat.AlbumBehavior
      ]
    });
  </script>
</dom-module>