<link rel="import" href="../../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../../neon-slideshow/neon-slideshow-pages.html">
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../albums-catalog-behavior.html">
<link rel="import" href="../catalog-structure.html">
<link rel="import" href="front-album-card.html">
<link rel="import" href="front-album.html">

<!--
@element front-albums-catalog
@demo demo/front-albums-catalog-demo.html
@hero hero.svg
-->
<dom-module id="front-albums-catalog">
  <template>
    <style>
      :host {
        display: block;
      }
      .child-margin > * {
        margin: 10px;
      }
    </style>

    <catalog-structure
      id="catalogStructure"
      albums="[[albums]]"
      selected-album="{{selectedAlbum}}">
      <div class="horizontal layout wrap child-margin album-cards">
        <template is="dom-repeat" id="albumRepeater" items="{{albums}}">
          <front-album-card
            src="{{_computeHeaderPhotoSrc(item.*)}}"
            title="[[item.name]]"
            img-root="[[imgRoot]]"
            photos-number="{{_computeLength(item.photos.*)}}"
            videos-number="{{_computeLength(item.videos.*)}}"
            on-open-album="_selectAlbum">
          </front-album-card>
        </template>
      </div>
      <front-album
        class="album"
        album="[[selectedAlbum]]"
        img-root="[[imgRoot]]">
      </front-album>
    </catalog-structure>
    
  </template>
  <script>
    Polymer({
      is: 'front-albums-catalog',
      behaviors: [
        Zecat.AlbumsCatalogBehavior
      ]
    });
  </script>
</dom-module>