<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>back-album Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../iron-ajax/iron-ajax.html">
    <link rel="import" href="../back/back-album.html">
  </head>
  <body unresolved>

    <template is="dom-bind" id="app">
      <iron-ajax url="data/albums.json" last-response="{{data}}" auto></iron-ajax>
      <back-album album="[[data.0]]" img-root="gallery">
      </back-album>
    </template>

  </body>
</html>
